.item {
  color: red;
}
.item:hover {
  background-color: beige;
}
.menuContainer {
  border: 1px solid blue;
  width: 200px;
  height: 100px;
}

#input-select option:link {
  background-color: #eee;
}
#input-select option:active {
  background-color: #eee;
}
#input-select option:hover {
  background-color: #eee;
}

/* .options {
  padding: 0;
  margin: 0;
  border: 1px solid red;
  width: 170px;
}
.options li:hover {
  background-color: #eee;
}
/* .options li:link {
  background-color: red;
} */
